@media (min-width: 320px) and (max-width: 480px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }
}

@media (min-width: 800px) and (max-width:1027px) {
    header {
        background-color: yellow;
        text-align: center;
    }

    .menu {
        text-align: center;
    }

    .menu h2{
        display: none;
    }

    .menu ul {
        display: flex;
        margin-left: 22%;
    }

    li{
        list-style: none;
        margin-left: 25px;
    }

    .principal {
        display: flex;
        margin-top: 5%;
    }

    .text {
        padding: 2%;
        border-left: 2px green solid;
        margin-top: 10px;
    }

    .lastpost{
        text-align: center;
        width: fit-content;
        height: fit-content;
        border: 2px green dashed;
        margin-left: 165px;
        margin-top: 50px;
    }

    .lastpost h2{
        display:none;
    }

    .lastpost  ul{
        display: flex;
        padding: 20px;
        margin-left: -20px;
    }

    .contact{
        border-top: solid black 1px;
        
        margin-top: 10%;
        text-align: center;
    }
    

}

@media (min-width: 1028px) {



    header {
        background-color: yellow;
        text-align: center;
    }

    ul {
        margin-left: -17%;
    }

    li {
        list-style: none;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .menu {
        width: 15%;
    }

    .principal {
        width: 70%;
        border-left: solid 5px green;
    }

    .text {
        margin-left: 5%;
    }

    .contact {
        text-align: center;
    }

    .lastpost {
        width: 15%;
        width: fit-content;
        height: fit-content;
        text-align: end;
        border: 2px green dashed;
        padding: 10px;
    }
}